@charset "utf-8";

body {
	color:  #575c7a;
	line-height: 1em;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	background: #EAEAEA url("../img/background_gradient.png") repeat 0px 0px;	
	}

.page {
	max-width: 980px;
	margin: 0px auto 0px auto;
	position: relative;
	background-color: #fff; 
	}
	
h1 {
	font-size: 2em;
	font-weight: normal;
	color: #a6430a;
	margin: 0 0 .5em 0;
	}
	
h2 {
	font-size: 1.7em;
	margin: 0 0 1em 0;
	}

h3 {
	font-size: 1.5em;
	margin: 0 0 1em 0;	
	}	
	
p {margin: 0 0 .75em 0;}
a {
	color: #099;
	}

a:hover {
	color: #069;
	}	
	
footer {
	font-size: .85em;
	color: #069;
	background: url("../img/background_gradient.png");
	padding: 10px 10px 10px 0px;
	}
	
a.cta {
	text-transform: uppercase;
	font-size: .9em;
	font-weight: bold;
	text-decoration: none;
	margin: .5em 0 0 0;
	padding: 0px 12px 0px 0px;
	background: url("../img/arrow_cta.png") no-repeat right 0px;
	
	}
	
.promo h3 {
	font-size: 1.1em;
	margin: 0;
	}

.promo p {
	line-height: 1.2em;
	font-size: .9em;
	margin-left: .5em;
	}
	
.promo { background-repeat: no-repeat;}
.promo.one { background-image: url(../img/one.png); }
.promo.two { background-image: url(../img/two.png); }
.promo.three {background-image: url(../img/three.png); }

/* Navigatie links */

nav a {
	color: #066;
	text-transform:uppercase;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: .9em;
	}
	
nav a:hover {
	color: #666;
	}
	
.clear-fix { clear: both;
line-height: 1px;
	}
	

