/* Set Box-Sizing */
* {
    box-sizing: border-box;
}

/* Default html */

html{
	font-family: "Trebuchet MS", sans-serif;
}

body {
	line-height: 1em;
	font-size: 14px;
	color: #808080;
	}

/* Flexbox */

.main {
	-webkit-display: flex;
  	display: flex;
	min-height: 100vh;
	min-width: 100vw;
}

.content {
	min-height: 500px;
	min-width: 500px;
	background-color: white;
	opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
	padding: 25px;
	
	margin: auto;
	
}

.flex-row {
	display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}


.flex-start{
	display: -webkit-flex;
	display: flex;
	justify-content: flex-start;
}

.flex-end {
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;
}

.va-center {
	-webkit-display: flex;
  	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

.va-bottom {
	-webkit-display: flex;
  	display: flex;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

/* Navigation */

.nav__left {
	min-height: 100vh;
}

.hidden{
	display: none;
}

.logo {
	font-family: 'Roboto', sans-serif;
	color: black;
	font-weight: bold;
	font-size: 3em;
	text-align: center;

	/*background-image: url('logo.png';) /* Use img instead of text*/ 
}

a.logo{
	text-decoration: none;
}	




/* Mobile background */
.background__body {
	/*background-image:url('../img/background.jpg');
	background-size: cover;	*/
	background-color: white;
}

/* Desktop background */
@media only screen and (min-width: 400px){
	.background__body {
		background-image:url('../img/background.jpg');
		background-size: cover;
		background-attachment: fixed;
		}
	
}
	
/* Borders */	
	
.border-1 {
	border: 1px solid black;
}
	
.border-big {
	border: 5px solid black;
}
  
/* Background Colors */
	
.bg-black {
	background-color: black;
}

.bg-white {
	background-color: white;
}

.bg-main {
	background-color: #87B1BD;
}

.bg-paleturquoise	{
	background-color: #AFEEEE;
}
	
.bg-green {
	background-color: green;		
}

.bg-red {
	background-color: red;	
}
	
.bg-yellow {
	background-color: yellow;	
}
	
.bg-grey {
	background-color: #f4f4f4;
}

.no-margin {
	margin: 0px;
}

.no-padding {
	padding: 0px;
}

.center {
	margin: 0px auto 0px auto;
}
	