/* Set Box-Sizing */
* {
    box-sizing: border-box;
}

html{
	font-family: "Trebuchet MS", sans-serif;
	height: 100%;
}

body {
	line-height: 1em;
	font-size: 14px;
	color: #808080;
	width: 100%;
	min-height: 100vh;
	}

/* Layout */
.container {
	-webkit-display: flex;
  	display: flex;	
}

.site{
		-webkit-display: flex;
  	display: flex;	
		min-height: 100%;
		flex-direction: column;
}

#timeline {
	position: fixed;
	bottom: 25px;
	height: 100px;
	width: 100vw;
	z-index: 998;
}

.main {
	flex: 1;
}

.fullscreen{
	min-height: 100vh;
	min-width: 100vw;
}

.invisible{
	display: none;
}

.no-margin {
	margin: 0px;
}

.no-padding {
	padding: 0px;
}

.transparent{
	opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}

.justify {
	justify-content: space-between; 
}

.center {
	-webkit-display: flex;
  	display: flex;
	-webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
	margin: 0px auto 0px auto;
}

.row {
	flex-direction: row;
}

.col {
	flex-direction: column;
}

.spacer {
	height: 10px;
}

.start{
	display: -webkit-flex;
	display: flex;
	justify-content: flex-start;
}

.end {
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;
}

.va-center {
	-webkit-display: flex;
  	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

.va-top {
	-webkit-display: flex;
	display: flex;
	-webkit-align-items: top;
	align-items: top;
}

.ha-center{
		-webkit-justify-content: center;
          justify-content: center;
}

.logo {
	font-family: 'Roboto', sans-serif;
	color: black;
	font-weight: bold;
	font-size: 5em;
	text-align: center;
	height: 60px;

	/*background-image: url('logo.png';) /* Use img instead of text*/ 
}

a.logo{
	text-decoration: none;
	
}	

.header__menu {
	-webkit-flex: 3;
			flex: 3;
}

/* Navigation Styles */

.menu__link {
	color: black;
	padding: 25px 25px 5px 25px;
	text-decoration: none;
	margin:0px;
	background-color: white;
	border-bottom: 5px solid black;
}

.menu__link:hover {
	color: white;
	background-color: teal;
	border-bottom: 5px solid white;
}

.button {
	color: red;
	z-index: 999;
}

.button:hover {
	cursor: pointer;
	color: yellow;
}

/* Standard styles */
	
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 5em;
	color: red;
	padding: 15px 10px 15px 10px;
	font-weight: bold;
	}
	
h2 {
	font-size: 1.2em;
	color: white;
	padding: 0px 0px 0px 10px;
	font-weight: bold;
	}
	
/* Images */

img {
    max-width: 100%;
    height: auto;
}

p {
	margin-left: 10px;
	padding: 5px 5px 5px 15px
}

.back {
	min-height: calc(100vh - 20px);
	min-width: calc(100vw - 20px);	
}

@media screen and (min-width: 800px){
	#skills_background {
		background-image: url("../img/programming.jpeg");
		width: 100vw;
		overflow: auto;
	}
}

@media screen and (min-width: 500px){
	#skills_background {
		width: 100vw;
		overflow: auto;
	}
}

@media screen and (min-width: 800px){
	#skills_table {
		flex-direction: row;
	}
}

@media screen and (max-width: 800px){
	#skills_table {
		flex-direction: column;
		justify-content: center;
	}
}

@media screen and (min-width: 800px){
	#exp_background {
		background-image: url("../img/job.jpg");
		width: 100vw;
		overflow: auto;
	}
}

@media screen and (min-width: 500px){
	#exp_background {
		width: 100vw;
		overflow: auto;
	}
}

@media screen and (min-width: 800px){
	#exp_table {
		flex-direction: row;
	}
}

@media screen and (max-width: 800px){
	#exp_table {
		flex-direction: column;
		justify-content: center;
	}
}
	
/* Borders */	
	
.border-1 {
	border: 1px solid black;
}
	
.border-big {
	border: 5px solid black;
}
  
/* Background Colors */
	
.bg-black {
	background-color: black;
}

.bg-white {
	background-color: white;
}

.bg-main {
	background-color: #87B1BD;
}

.bg-paleturquoise	{
	background-color: #AFEEEE;
}
	
.bg-green {
	background-color: green;		
}

.bg-red {
	background-color: red;	
}
	
.bg-yellow {
	background-color: yellow;	
}
	
.bg-grey {
	background-color: #f4f4f4;
}

/* Items */
.skilltable {
	margin: 10px;
}

.skilltable td {
	padding: 2px;
	border: 1px solid black;
}



.box {
	width: 100%;
}

.invisible {
	display:none;
}

	